.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}

.content {
    height: auto;
    width: 23%;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 18px;
    background-color: #E8EDDF;

}

.contenth1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 5%;
}

.contenttext {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 30px;
    height: 30%;
}

.contentimg img {
    width: 100%;

    aspect-ratio: 1/0.7;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;


}