.organizers_browse{
    margin-top: 100px;
    margin-left: 20px;
}
.Org{
 display: flex;

}
.Org .Event{
    margin: 10px;
    text-align: center;
    height: 30%;
    width: 18%;
    margin: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -1px, rgba(0, 0, 0, 0.3) 0px 8px 10px -8px;
    border-radius: 18px;
    background-color: #e8eddf;
    padding-bottom: 15px;
    transition-duration: 0.2s;
}
.Org .Event:hover{
      scale:1.05;
      transition-duration: 0.5s;
}


.Org .Event img{
    height:200px;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 9%;
    border-top-left-radius: 9%;
}