.testimonial-slide {
    margin: 40px auto;
    height: 450px;
    width: 800px;   
    border-radius: 15px;
    display: flex;
    padding: 5px;
}

.testimonial-slide img {
    width: 90%; 
    height: 10px;
    object-fit: cover;  
    margin: 0 auto;
    margin-top: 20px;
}

.testimonial-inner {
    margin: 0 auto;
    width: 90%;  
}

.event{
    margin-left: 5%;
    margin-right: 5%;
}
.event .event_info .event_details{
    display: flex;
    justify-content: space-between;
}
.event_reg{
    display: flex;
    justify-content: space-between;
}
.Register{
    padding-top:1.2%;
    padding-bottom: 1.2%;
    padding-right: 3%;
    padding-left: 3%;
    border: none;
    background-color:lightseagreen;
}
.Register:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 10px -8px;
    cursor: pointer;
}
.event_info2{
    display: flex;
}
.artists{
background-color:  #e8eddf;
height: 700px;
width:20%;
margin-bottom: 70px;
}
.event_motto{
    background-color: #e8eddf;
    height: 700px;
    width:80%;
    margin-left: 10px;
    margin-right: 10px;
}
.uc_event{
background-color:  #e8eddf;
height: 700px;
width:20%;
margin-bottom: 70px;
}
.artist_photo{
border-radius: 100%;
display: flex;
height: 60%;
width:60%;
margin-left: 20%;
margin-top: 6%;
}
.artist_name{
    text-align: center;
}
.Artist_header{
    text-align:center;
}
.motto_bp{
    padding: 4%;
}
.motto_header{
    text-align: center;
}
.uc_event_header{
    margin-left: 15%;
}
.event_photo{
  height: 150px;
  width: 150px;
  margin-left: 20%;
margin-top: 6%;
}
.event_info{
    margin-bottom: 20px;
}
.location_symbol{
    position: relative;
    top: 5px;
}
.event_location p{
    display: inline-flex;
    margin: 0;
}
.motto_info p{
    margin: 5%;
}