.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9; /* Light background for the container */
}

h1,h2 {
    margin: 10px 0;
    color: #4a4a4a; /* Softer dark gray for headings */
}

.action-btns {
    margin-top: 20px;
}
.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #0056b3;
}
.events-section {
    margin: 20px auto;
}
.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}
.event-card {
    width: 300px;
    background-color: rgb(245, 255, 245); 
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-image img {
    padding-top: 15px;
    padding-left: 16px;
    padding-right: 15px;
    width: 90%;
    height: 200px;
    object-fit: cover;
}
.event-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}
.event-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    color: #000; 
}
.event-date, .event-description {
    font-size: 14px;
    color: #000; 
}
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

.form-group input,.form-group select,.form-group textarea {
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f8f8f8; 
    color: #000; 
}
.form-group input:focus,.form-group select:focus,.form-group textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.form-group textarea {
    resize: none;
}
.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff6b6b; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.back-btn:hover {
    background-color: #d9534f;
}
body {
    background-color: #f0f0f0; 
    color: #333; 
}

h1,h2 {
    color: #4a4a4a;
}
